// Миксины - это возможность делать шаблоны кода и переиспользовать его. Возможно еще добавлять аргументы.
@mixin style-link($color)
    text-transform: uppercase
    text-decoration: none
    color: $color
    display: inline-block